numpy
pandas
PyPDF2
requests
llama-cpp-python
sentence-transformers
faiss-cpu
Pillow
openai
ollama
pydub
SpeechRecognition
opencv-python
pdfplumber
torch
torchvision
python-dotenv
langchain-community
pinecone
langchain_pinecone
langchain
langchain-chroma
langchain_ollama
SQLAlchemy
torchaudio
gtts
pypdf
flask
werkzeug
streamlit